h1{
  color: aliceblue;
}

h2{
  text-shadow: black 0.1em 0.1em 0.2em;
  color: aliceblue;
  font-size: 50px;
  padding: 3%;
}

h3{
  color: black;
  text-align: center;
  padding: 10px 0;
}

h4{
  padding: 0 0 20px 0;
}

.sobre{
  text-align: center;
  background-color: #f3f3f3;
}
 
.sobre p {
  margin: 0 20%;
}

p strong{
  text-transform: uppercase;
}

.sobre Img{
  border-radius: 5%;
  max-width: 70%;
}

.quemSomos{
  color: black;
  text-align: center;
  background: linear-gradient(#f3f3f3 , #888888);
}

.quemSomos img{
  border-radius:50%;
  max-width: 60%;
}


.colaboradores{
  color: black;
  font-style: italic;
  text-align: center;
  color: rgb(65, 5, 5);
  font-size: 30px;
}

.produto{
  background-color: #888888;
  padding: 1%;
}


footer {
  text-align: center;
  text-align: center;
  background: url("bg.jpg");
  padding: 2%;
}

footer p {
  color: cornsilk ;
}

v
